<!-- <nav class='navbar navbar-default'>
    <a href="#" class="navbar-brand"> {{cmpHeading}} : {{name}}</a>
   
    <ul class="nav navbar-nav">
      <li><a routerLink="">Home</a> </li>
      <li><a routerLink="/about">About1</a></li>
      <li><a routerLink="/contact">contact</a></li>
    </ul>
</nav> -->

<nav class="navbar navbar-inverse">
  <div class="navbar-header">
    <a href="#" class="navbar-brand">{{cmpHeading}}</a>
  </div>
  <ul class="nav navbar-nav">
    <li><a routerLink="/">Home</a> </li>
    <li><a routerLink="/about">About</a></li>
    <!-- <li *ngIf="isUserLoggedIn()"><a routerLink="/manage">Manage Products</a></li>
    <li *ngIf="!isUserLoggedIn()"><a routerLink="/login">Login</a></li>
    <li *ngIf="isUserLoggedIn()"><a routerLink="/logout" (click)="doLogout()">Logout</a></li> -->
  </ul>
  
</nav>

<div class="container">
  <form>
    <div class="form-group">
        <div class="row">
        <label for="locId">Pick up location:</label>
        <select class="form-control" id="locId">
          <option *ngFor="let loc of allPickUpLocations">
            {{loc.pickupLoc}} </option>
        </select>
        <br/>
        <label for="locId">Delivery location:</label>
        <select class="form-control" id="locId">
          <option *ngFor="let loc of allPickUpLocations">
            {{loc.dropLoc}} </option>
        </select>
        </div> 
        <br />
        <div class="row btn-toolbar">
          <button class="btn btn-primary pull-right">Submit Order</button>
          <button class="btn btn-danger pull-right">Cancel Order</button>
        </div>
      </div>
    </form>
  </div>