<h2> Lunch Box Delivery Application !!</h2>
<app-header></app-header>
<h1>I am app Component</h1>
<h2>{{placeToPickLunchBox}}</h2>
<button class="btn btn-primary">Primary</button>
<button class="btn btn-success">Success</button>
<button class="btn btn-danger">Danger</button>

<div class="container">
    <h1>Input Group Size</h1>
    <p>The .input-group class is a container to enhance an input by adding an icon, text or a button in front or behind it as a "help text".</p>
    <p>Use the .input-group-lg if you want a large input group:</p>
    <form>
      <div class="input-group input-group-lg">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </form>
    <br>
  
    <p>Use the .input-group-sm if you want a small input group:</p>
    <form>
      <div class="input-group input-group-sm">
        <input type="text" class="form-control" placeholder="Search">
        <div class="input-group-btn">
          <button class="btn btn-default" type="submit"><i class="glyphicon glyphicon-search"></i></button>
        </div>
      </div>
    </form>
  </div>